.task-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
  }
  
  .task-details h2 {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .task-details > div {
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; 
  }
  
  .task-details h3 {
    margin-bottom: 10px; 
  }
  
  .task-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-details li {
    margin-bottom: 5px;
  }
  
  .task-details button {
    margin-top: 10px; 
  }
  