<form #taskForm="ngForm" (ngSubmit)="onAddEntry()">

  <h2 mat-dialog-title>Add Entry for {{task_id}}</h2>

  <div mat-dialog-content>
    <!-- <mat-form-field>
      <input matInput placeholder="Estimated Hours" name="estimateHours" [(ngModel)]="estimateHours" type="number" required>
    </mat-form-field> -->

    <mat-form-field>
      <input matInput placeholder="Total Hours" name="estimateHours" [(ngModel)]="estimateHours" type="number" required pattern="^[0-9]+(\.[0-5]{1}[0-9]{0,1})?$">
      <mat-error *ngIf="taskForm.controls['totalHours']?.hasError('required')">Total Hours is required</mat-error>
      <mat-error *ngIf="taskForm.controls['totalHours']?.hasError('pattern')">
        Invalid total hours (Decimal part cannot be more than .59)
      </mat-error>
    </mat-form-field>

    <div>
      <editor [init]="editorConfig" name="editorContent" [(ngModel)]="editorContent"></editor>
      <!-- <textarea matInput placeholder="Estimate Notes" name="estimateNotes" [(ngModel)]="estimateNotes" required></textarea> -->
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="taskForm.invalid">Add Task</button>
  </div>

</form>
