<div *ngIf="tasks">
  <h2>Task List</h2>

  <div class="task-list">
  <mat-card *ngFor="let task of tasks" class="task-card">
    <mat-card-content>
      <div class="card-line">
        <span><b>Task Number:</b> {{ task.taskNumber }}</span> &nbsp; &nbsp;
      </div>
      <div class="card-line">
        <span><b>Estimate Hours:</b> {{ task.estimateHours }}</span>
      </div>
      <div class="card-line" style="display: flex;">
        <b>Estimate Notes: </b> <span [innerHTML]=" task.estimateNotes"></span> 
      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between; align-items: baseline;">
      <button mat-button color="primary" (click)="viewDetails(task)">View Details</button>
      <span *ngIf="task.completed" style="color: red;">Completed</span>
    </mat-card-actions>
  </mat-card>
  </div>

  <a routerLink="/task-form">
  <button mat-button color="primary">New Task</button>
  </a>
</div>