
   .task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .task-table th {
    background-color: #f2f2f2;
  }
  
  .task-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .task-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .task-details h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .task-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .task-details th, .task-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .task-details th {
    background-color: #f2f2f2;
  }
  
  .task-details tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .task-details button {
    margin-top: 5px;
  }
  
  .task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
  
  .task-card {
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .task-card:hover {
    transform: scale(1.05); 
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-line {
    margin-bottom: 10px;
  }
  
  a {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px; 
  }
  