<div *ngIf="taskList.length">
  <h2>Task List</h2>

  <div *ngFor="let list of taskList">
    <h3>Task Number: {{ list.taskNumber }}</h3>
    
    <table class="task-table">
      <thead>
        <tr>
          <th>Estimate Hours</th>
          <th>Estimate Notes</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of list.tasks">
          <td>{{ task.estimateHours }}</td>
          <td [innerHTML]="task.estimateNotes"></td>
          <td>{{ task.completed }}</td>
          <td>
            <button mat-button color="primary" (click)="viewDetails(task)">View Details</button>
          </td>
        </tr>
      </tbody>
    </table> <br><br>
  </div>

  <a routerLink="/task-form">
    <button mat-button color="primary">New Task</button>
  </a>
</div>
